/**
* 8.0 Media Queries
 * ----------------------------------------------------------------------------
 */

@media only screen and (min-width: 1000px) and (max-width: 1249px) {
	.header-search input[type="text"], .header-search .search-field{width:200px;}
	.slider_area_inner, .main-content-inner, .panel-row-style-inner-container, .home .main-content.left-sidebar, .top_main, .footer-bottom-container, .site-top {width:970px; margin:0 auto;/*border:1px solid purple;*/}
	.header-main, .footer-block-inner, .page_inner{width:970px;}
	.topbar-outer-inner, .topbar-main #navbar, .home-slider-container{width:970px;}
	#footer-widget-area{width:970px;}
	.footer-bottom{width:940px;}
	.ei-slider{height:338px;}
	.ei-slider-large li img{ 
		margin-left: 0 !important;
		width: 100% !important;
		height:auto !important;
	}
	.sidebar-category .product-categories{min-height:inherit;}
	/*.topbar-banner .top-banner-inner { width:980px; margin:0 auto; }*/
	.woocommerce ul.products.grid li.product, .woocommerce-page ul.products.grid li.product, #woo_grid .woocommerce ul.products li.product{ width:33% !important; clear:none;}
	.box-container .masonry.two-col .item { width:46%; }
	.cms-content .cms-title .text1 { font-size:16px; }
	.cms-content .cms-title .text2 { font-size:15px; }
	.tm_banner_inner img {width: 100%;}
	.tm_sub_banner.sub_1{width: 27%;}
	.tm_sub_banner.sub_2{width: 73%;}
	
	.tm_banner.column1.sub_2_first{ width: 56%;}
	.tm_banner.column1.sub_2_second{ width: 38%;}
	
	.text1{ font-size: 16px;}
	
	
	/****FOOTER****/
	#footer-widget-area .second-widget, #footer-widget-area .third-widget { width: 19%;}
	.footer-widget{padding:0 20px;}
	.cms-content .cms-title { font-size:17px; }
	.testimonials-container .owl-theme .owl-controls .owl-buttons div.owl-prev { right:52%; }
	.three_fourth .owl-theme .owl-controls .owl-buttons div.owl-prev { left: -29.4%;bottom:20%; }
	.three_fourth .owl-theme .owl-controls .owl-buttons div.owl-next { left: -25%;bottom:20%; }
	.inner-image img:hover { transform:none; }
	.inner-image img { transform:none; height:338px; }
	/*.inner-image { width:98%;  }*/
	.topbar-banner ul li.content1 .content-inner { padding:10px 10px 10px 0;  }
	.topbar-banner ul li.content .content-inner { padding:10px; }
	.topbar-banner ul li.content3 .content-inner { padding: 10px 0 10px 10px;}
	.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary { width:54%; }
	.widget_search #searchform .search-field { width:70%; }
	.grid .full-width .entry-main-content .entry-video,
	.full-width .entry-main-content .entry-video { width:41%; }
	.grid .blog-list .entry-main-content .entry-video, .blog-list .entry-main-content .entry-video { width:53%; }
	.header-search {
			float: right;				
			position:absolute;
			right:12%;
			bottom:85px;
		}
	.topbar-contact .content, .topbar-social .content{background:url("images/megnor/telephone.png") no-repeat scroll left 10px transparent;}
	.header_right{width:67%;}
	.header-contactus, .header-contactus{float:left; padding:0; border:none;}
	.header_cart{float: right;
    padding:0;}
	.header-search input[type="text"]{width:180px;}
	.newsletter input, .footer-block .newsletter .newsletter-email{width:180px;}
	.newsletter .newsletter-submit{width: 100px;}
	.ei-slider-large li img{width:100% !important; margin-left:0 !important;}
	.home-page #woo_grid .woocommerce ul.products li.last .product-block {border-right:1px solid #eeeeee;}
	.home-page #woo_grid .woocommerce ul.products li:last-child .product-block {border:none;}
	.woocommerce ul.products.grid li.last .product-block , .woocommerce-page ul.products.grid li.last .product-block{border-right:1px solid #eeeeee;}
	.woocommerce ul.products.grid li:last-child .product-block , .woocommerce-page ul.products.grid li:last-child .product-block{border:none;}
	.woocommerce .related.products ul.products li.product, .woocommerce-page .related.products ul.products li.product {    width: 33%;}
	.topbar-banner .cms-desc {
		  float: none;
   		 overflow: hidden;
	}
	.topbar-banner .cms-title{float:none;}
	.woocommerce ul.products li .product-block{margin:0 -1px;}
	
}
@media only screen and (max-width: 999px){
	.header-search input[type="text"], .header-search .search-field{width:200px;}
	.post-image img{width:100%;}
	.header-contactus{border:none;}
	.woocommerce ul.products.grid li.product, .woocommerce-page ul.products.grid li.product, #woo_grid .woocommerce ul.products li.product,
	.woocommerce .cart-collaterals .cross-sells ul.products li.product, .woocommerce-page .cart-collaterals .cross-sells ul.products li.product
	{ width:32.8% !important; clear:none; float:none; display:inline-block;}
	.woocommerce-page .cart-collaterals .cross-sells ul.products.owl-carousel li.product {
   		 width: 100% !important;
	}
	/*************Product Category******/
	.home .widget.woocommerce.widget_product_categories h1, .home .widget.woocommerce.widget_product_categories .widget-title{height:25px; width:25px; padding:8px 9px 9px;}
	.home-category-container .widget_product_categories .widget-title{font-size:0;}
	.home-category-container .widget_product_categories{width:44px; position:absolute; top:-42px;}
	.home .sidebar-category.treeview-list.treeview {  width: 250px;  }
	.sidebar-category{display:none;}
	.home-slider-container{position:relative;}
	
	.product-categories .cat-parent:before{display:none;}
	
	.product-categories .cat-parent .children{position:relative; opacity:1; left:0; background:none; display:block; width:100%;}
	.product-categories{z-index:9999;}

	.home.page #woo-products .owl-wrapper-outer li .product-block .addto-cart-hover{top:62%;}
	/***************Banners*************/
	.tm_banner_inner img {width: 100%;}
	.tm_sub_banner.sub_1{width: 26%;}
	.tm_sub_banner.sub_2{width: 74%;}
	
	.home_banner_3 .one_third_inner {margin:15px 0 0 10px !important;}
	.home_banner_2 .one_third_inner {margin:15px 7px 0 !important;}
	
	.tm_banner.column1.sub_2_first{ width: 55%;}
	.tm_banner.column1.sub_2_second{ width: 37%;}
	.text1{ font-size: 16px;}
	/*#page	{ width:940px; margin:0 auto;}*/
	.slider_area_inner, .main-content-inner, .panel-row-style-inner-container, .home .main-content.left-sidebar, .top_main, .footer-bottom-container, .site-top, .topbar-outer-inner{width:900px; margin:0 auto;}
	.footer-block-inner, .page_inner{width:950px;}
	
	#footer-widget-area{width:900px;}
	.footer-bottom{width:920px;}
	.topbar-banner ul li.content1 .content-inner { padding: 10px 10px 10px 10px;  }
	.topbar-banner ul li.content2 .content-inner { padding: 10px 0 10px 10px;  }
	.topbar-banner ul li.content3 .content-inner { padding: 10px 0 10px 10px; }
	.inner-image img:hover { transform:none; }
	.inner-image img { transform:none; height:338px; }
	.cms-content .cms-title .text1 { font-size:16px; line-height:18px; }
	.cms-content .cms-title .text2 { font-size:15px; }
	#woo-small-products .products li .price { width: 50%; margin-left:15px; }
	#woo-small-products li.product h3 { width: 50%;  margin-left:15px; }
	/*#woo-small-products .woocommerce .star-rating { left: 37%; }*/
	/*.woocommerce .star-rating, .woocommerce-page .star-rating { bottom:10px; }*/
	.primary-sidebar .widget  { position: relative; }
	.grid .full-width .entry-main-content .entry-video, .full-width .entry-main-content .entry-video { width:55%; }
	.grid .blog-list .entry-main-content .entry-video, .blog-list .entry-main-content .entry-video { width:55%; }
	/******HEADER*******/
	.topbar-banner .cms-desc {
		  float: none;
   		 overflow: hidden;
	}
	.topbar-banner .cms-title{float:none;}
	.header-search {
			float: right;
			margin: 0;		
			bottom:80px;
			position:absolute;
		}
	.header-search input[type="text"]{width:180px;}
	.header-search{right:25%;}
	.header_right  { float:none; margin:0 auto; width:100%;  clear:both; text-align:center;}
	.header_cart{margin-bottom:18px;}
	.topbar-contact .content, .topbar-social .content{padding:0 0 0 45px;}
	.header_middle { width:430px; padding-left:15px;}
	.home-advertise {margin-left:24px;}
	#primary { width:100% !important;float:left !important;}
	#tertiary{ width: 100% !important; margin: 20px 0 0 !important}	
	.tm_cms_banner {background-image:none !important;}
	.header_left { margin:25px 0; text-align:center; width:100%; }
	.topbar-social { display:none; }
	.toggled-on .mega-menu ul li a{border-left:5px solid transparent; text-transform:capitalize;}
	.toggled-on .mega-menu ul li a:hover {
    background-color: #393939;
    border-left: 5px solid #ffe35f;
    color: #fff;
	}
	
	.home #brand-products{margin:0;}
	/****FOOTER****/
	.newslettercontainer{float:none; text-align:center;}
	.newsletter.newsletter-subscription.main-ul{ margin:20px auto 0; overflow:hidden; position:relative; text-align:center; float:none;}
	.newsletter table{   display: inline-block;   width: auto;}
	.home-about-me { width:100%;}	
	#top-area {border-radius:0 0 5px 5px;}
	.menu-category {width:34%; padding:3px 0; float:right; margin:-46px -1px 0;}
	.cate-inner {background:none; padding:3px 0; float:right; width:100%;}.category-toggle { padding:10px 0; float:right; width:100%; border-radius: 5px 5px 0 0;}
	.category_title {margin-left:7px;}
	
	.menu-mainmenu-container {padding:0;}
	.homepage-testimonials {width:46%;}
	.header-middle {width:455px;}
	.latestwork_default_width {width: 350px;}
	.menu-mainmenu-container {left: 0;position: relative;width: 100%;}
	.nav-menu .current_page_item > a, .nav-menu .current_page_ancestor > a, .nav-menu .current-menu-item > a, .nav-menu .current-menu-ancestor > a
	{background:none; border:none; color:#E76453 !important;}
	.homepage-latestnews img {width:100%;}
	#woo-small-products .image-block img {
		height: 85px;
		width: 85px;
	}
	.woocommerce .star-rating, .woocommerce-page .star-rating { }
	.vertical_tab .tab_groupcontent { padding:7px; }
	.vertical_tab ul.tabs { width:24%; }
	
	/*=== Header === */
	.body_twoleftcallout .secondary-sidebar, .body_tworightcallout .secondary-sidebar, .body_threecallout .secondary-sidebar {width:100%;}
	.top-area-inner	{ width:100%;}
	.tm-homeslider	{ width:74%;}
	.home-topbanner	{ width:100%;}
	.cms_banner2	{ margin:0 34px;}
	/*=== Footer === */
	.footer-banners #banner2	{ margin:0 15px;}
	.footer_bottom .widget ul.main-ul { display:none; padding:0 0 10px 0;}
	.site-footer .widget	{ margin:0;}
	/* Small menu */
	div.product div.images {width:40%;}
	
	.mega-menu li span	{ display:none;}
	.menu-all-pages-container	
	{ 
		margin:0;
		background:url("images/dropdown_bg.jpg") repeat scroll 0 0 transparent;
	}
	.menu-container li  a	{ padding:5px 8px !important; color:#211F20 !important; margin:0; border:none;}
	.menu-container .sub-menu li a {width:100%;}
	.menu-container li  a:hover {color:#E76453 !important;}
	.menu-container li:hover a {border:none;}
	.menu-container ul li { padding:5px 0 !important; background:none; width:100%; position:relative !important;}
	#site-navigation h3
	{ color:#FFFFFF; font-size:18px; text-transform:uppercase;  font-family: "Archivo Narrow"; }
	.main-navigation { height:42px; background:#333333;  width:100%; padding:0;}
	.menu-toggle {
		text-align:left;
		cursor: pointer;
		display: inline-block;
		font-size: 16px;
		margin: 0;
		height:21px;
		line-height: 22px;
		padding: 12px 0 12px 15px;
		/*width: 95%;*/
		width:auto;
	}
	.menu-toggle {position:static;}
	.home.page .menu-toggle{left:43px; position:absolute; }
	.mega-menu 
	{
		position:relative;
		left:0;
		display:block;	
	}
	.menu-category .expandable-hitarea {
    	background: url("images/megnor/sprite.png") no-repeat scroll -210px -261px transparent;
	}
	.menu-category .collapsable-hitarea {
		background: url("images/megnor/sprite.png") no-repeat scroll -239px -260px transparent;
	}
	.menu-category .hitarea {
		cursor: pointer;
		height: 14px;
		margin-top: 3px;
		position: absolute;
		right: 10px;
		width: 14px;
	}
	.menu-category ul li:hover ul.children, .menu-category ul li ul.children li:hover ul.children, .menu-category ul li ul.children li ul.children li:hover ul.children, .menu-category ul li ul.children li ul.children li ul.children li:hover {display:none;}
	.menu-category ul li.cat-parent, .menu-category ul li.cat-parent:hover {background:#f6f6f6;}
	.menu-category ul li ul li:last-child {border:none;}  
	/* Start Primary navigation */
	.toggled-on .nav-menu li a	{padding:8px !important;}
	/*.menu-toggle {
		display: block;
	}*/
	div.mega-menu ul,
	div.mega-menu {
		display: none;
	}
	.toggled-on .mega-menu ul li a{font-size:14px;font-family:"Istok Web",Arial,Helvetica,sans-serif;}
	.toggled-on iv.mega-menu ul,
	.toggled-on div.mega-menu,
	.toggled-on .mega-menu ul li .sub-container.mega .sub {
		display: block;
		/*width:auto;*/
	}
	.mega-menu .expandable-hitarea:before {
		color: #fff;
		content: "\f067";
		cursor: pointer;
		display: block;
		font-family: FontAwesome;
		font-size: 10px;
		height: 30px;
		margin: 2px 0 0;
		position: absolute;
		right: 10px;
		text-align: center;
		width: 30px;
		font-weight:100;
		top: 0;
		line-height: 30px;
		
	}
	.mega-menu .collapsable-hitarea:after
	{
		color: #fff;
		content: "\f068";
		cursor: pointer;
		display: block;
		font-family: FontAwesome;
		font-size: 10px;
		height: 30px;
		margin: 2px 0 0;
		position: absolute;
		right: 10px;
		top: 0;
		width: 30px;
		text-align:center;
		font-weight:100;
		line-height: 30px;
	
	}
	.toggled-on li .mobile_togglemenu {
		display: inline-block;
		padding: 10px 0 0;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;		
		cursor:pointer;
	}
	.mobile_togglemenu:before, .sub-menu .mobile_togglemenu:before {
		color: #8c8c8c;
		content: "\f067";
		font-size: 11px;
		font-family:FontAwesome;
		margin-top: 0;
		position: absolute;
		right: 10px;
		top: 6px;
		z-index:999;
	}	
	.active .mobile_togglemenu:before{
		content: "\f068";
	}
	.mega-hover > .mobile_togglemenu:before{content: "\f068";}
	.toggled-on .mega-menu .mega {
		background-color: #646464;
		display: block;
		margin-left: 0;
		z-index: 999;
		position: absolute;
		left: -1px;
		top: -10px;
		padding: 10px 0;
   		width: 100%;
		border:1px solid #646464;
		border-top: 3px solid #646464;	
		}
		.home.page .toggled-on .mega-menu .mega {top:42px;}
		
	.toggled-on .mega-menu ul li,
	.toggled-on .mega-menu ul li .sub-container.non-mega li,
	.toggled-on .mega-menu ul li .sub li.mega-hdr {
		height: auto !important;
		margin: 0 0 2px;
		width: 100% !important;
		text-align: left;
		position: relative;
		background:none;
	}
	.toggled-on .mega-menu ul li .sub li.mega-hdr a.mega-hdr-a {
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
		font-weight: normal;
		height: auto !important;
		margin: 0;
		text-transform: none;
		border: none;
		font-family:"Open Sans",Arial,Verdana;
	}
	.toggled-on .mega-menu li > ul,
	.toggled-on .mega-menu li .sub-menu {
		display: block;
		float: none;
		position: relative;
		left: auto;
		top: auto;
		border: none;
		padding: 0;
		margin:0 0 0 15px;
	}
	.toggled-on .mega-menu li > ul .mobile_togglemenu,
	.toggled-on .mega-menu li .sub-menu .mobile_togglemenu{
	}
	.mega-menu ul li .sub-container.non-mega li a { padding:5px 1.5%; }
	.mega-menu ul .sub li.mega-hdr li a { padding:5px 1.5%; }
	.toggled-on .mega-menu ul li.menu-item-has-children a,
	.toggled-on .mega-menu ul li a {
		padding: 5px 0px 5px 10px;
    	width: 96%;
	}
	.toggled-on .mega-menu ul li .sub-container {
		left: 0 !important;
		position: relative;
		top: 0 !important;
		margin: 0 !important;
		clear:both;
	}	
	.toggled-on .mega-menu ul li .sub-container.mega .sub,
	.toggled-on .mega-menu ul li .sub-container.non-mega .sub {
		margin: 0 0 0 10px;
		padding: 0;
	}
	.toggled-on .mega-menu ul li .sub .row {
		width: 100% !important;
	}
	.toggled-on .mega-menu ul li a .dc-mega-icon:before {
		display: none;
	}
	.blog-posts-content.posts-content .container{width:100%;}
	/* End Primary navigation */
	.left-sidebar #secondary, #secondary, .right-sidebar #secondary
	{
		width:100%;
	}
	.footer-widget h3.widget-title { margin:5px 0; }
	.footer_inner ul { display:inline-block; margin:0 0 0px; }
	/*#footer-widget-area { margin: 0; }*/
	#footer-widget-area .second-widget, #footer-widget-area .third-widget, #footer-widget-area .fourth-widget, #footer-widget-area .first-widget{width:100%;margin:0; padding:0; border:none;}
	.widget.widget_accepted_payment_methods ul{display:block !important;}
	.footer-menu-links span, .header-menu-links span{display: none;}
	.menu-toggle:before 
	{
	content: "\f0c9";
	color: #FFFFFF;
    margin-top: 0;
    position: absolute;
    right: 15px;
    top: 10px;
	font-size: 26px;
	}
	.active .mobile_togglemenu
	{
		background:url("images/plus_minus.png") no-repeat scroll right -25px transparent !important;
	}
	ul.menu-container li:hover > ul, .menu-container ul li:hover > ul {display:none;}
	.toggled-on .menu-container li > ul a {
		width: 100%;
	}
	ul.menu-container,
	div.menu-container > ul {
		display: none;
	}
	.mega-menu li a:hover	
	{
	}
	/*=== Gallry == */
	#single_product_page_container .product_right	{ width:360px;}
	.wpsc_product_rating .wpsc_select_product_rating	{ width:50px !important;}
	.attachment.single.body_leftcallout #primary, .attachment.single.body_rightcallout #primary, .attachment.single.body_twoleftcallout #primary, .attachment.single.body_tworightcallout #primary, .attachment.single.body_threecallout #primary	{ width:100% !important;}
	.archive-header, .search .page-header, .archive .page-header, .blog .page-header, .error404 .page-content, .search .page-content, .archive .page-content, .attachment .entry-header, .attachment .entry-content, .post-navigation .nav-links, .sidebar .site-info, .site-footer .widget-area {}
	.text-box	{ width:195px;}
	.site-footer .footer-main .widget_newsletterwidget{ margin-bottom: 10px;}
	.header_cart {}
	.site-footer .fourth-widget.widget {
    border: medium none;
    float: right;
    margin-bottom: 0;
    margin-right: 0;
	}

	.ei-slider-large li img {
    	margin-left: 0 !important;
    	width: 100% !important;
	}
/*	.testimonials-container, #blog-posts-products{display:none;}*/
	.home-page #woo_grid .woocommerce ul.products li.last .product-block {border-right:1px solid #eeeeee;}
	.home-page #woo_grid .woocommerce ul.products li:last-child .product-block {border:none;}
	.woocommerce ul.products.grid li.last .product-block , .woocommerce-page ul.products.grid li.last .product-block{border-right:1px solid #eeeeee;}
	.woocommerce ul.products.grid li.last-child .product-block , .woocommerce-page ul.products.grid li.last-child .product-block{border:none;}
	.woocommerce .related.products ul.products li.product, .woocommerce-page .related.products ul.products li.product {    width: 33%;}

	#footer-widget-area{padding:25px 0;}
	.primary-sidebar .toggled-on.widget .main-ul {
		display: block;
	}
	
	.primary-sidebar .toggled-off.widget .main-ul {
		display: none;
	}
	 
	.primary-sidebar .toggled-off .widget-title:after{
	content:'\f13a';
	 }
.primary-sidebar .widget-title:after{
	content:'\f139';
    position: absolute;
   right: 10px;
	font-family: 'FontAwesome';
	font-size: 20px;
	color: #ffffff;
	top: 7px;
	display:block;
	cursor:pointer;
}
.primary-sidebar .toggled-on .widget-title:after{
	content:'\f139';
} 
	.woocommerce ul.products li .product-block{margin:0 -1px;}
	.woocommerce.widget_product_categories.toggled-on .sidebar-category{display:block;}
	
	.primary-sidebar .widget.widget_product_categories ul ul{border:none;}
}
@media only screen and (min-width: 980px) and (max-width: 999px) {
	.menu-toggle {
		width:98%;
	}
}
/* Collapse oversized image and pulled images after iPad breakpoint. */
@media only screen and (min-width: 768px) and (max-width: 999px) {
	.topbar-banner ul li {float:none;width:100%;}
	.topbar-banner ul li.content3 .content-inner{ margin:0;}
	.slider_area_inner, .main-content-inner, .panel-row-style-inner-container, .home .main-content.left-sidebar, .top_main, .footer-bottom-container, .site-top {width:724px; margin:0 auto;}
	.footer-block-inner, .page_inner, .topbar-outer-inner, .home-slider-container{width:724px;}
	.header-main{width:724px;}
	.home-slider-container-inner{width:100%;}
	.ei-slider{height:330px;}
	.ei-slider-large li img{ 
		margin-left: 0 !important;
    	width: 100% !important;
		height:auto !important;
	}
	.header-main-inner {width: 724px;margin:0;}
	.topbar-main #navbar{width:724px;}
	#footer-widget-area{width:724px;}
	.footer-bottom{width:724px;}
	.home.page .menu-toggle {width:auto;}
	.header_middle {display:none;}
	.tm_cms_banner_inner {padding:17px 0 18px 5px;}
	.footer-block .follow-us {text-align:center; width:100%; padding:25px 0; float:none;margin:0;}
	.footer-block .newsletter.newsletter-widget {width:100%; text-align:center;}
	.footer-block .newsletter.newsletter-widget p {float:none; display:inline;} 	
	.footer-block h3 {float:left; width:100%; text-align:center;}
	.follow-us h2 { width:100%; margin:0; }
	.menu-category { width:44.3%; }
	.slider_area_inner_container { top:20%; }
	.blog-posts-content .post-content-inner { min-height:155px; }
	.blog-posts-content .post-author { font-size: 13px; }
	.blog-posts-content .post-title { font-size:14px; }
	/*=== Header === */
	.header-search{bottom:70px;}
	.cms-content .cms-title .text1{ font-size:13px; }
	.cms-content .cms-title .text2 { font-size:12px; }
	.cms-content { padding:5px; }
	.cms-container:hover .cms-content { padding:3px; }
	.site-top{ display:none; }
	/*.header_right { margin:38px 0 15px; }*/
	.archive .shop-page .products_block {padding:8px;}
	.menu-toggle:after {float:right;}
	.shop_default_width {width:170px;}
	.tm-about-description {width:84%;}
	.home-advertise {display:none;}
	.right_main_title {width:42%; font-size:20px; text-transform:uppercase;}
	.footer_banner .right_banner { width:46%;}
	.left_main_title { width:66%; font-size:20px; text-transform:uppercase;}
	.home-aboutus {width:100%; background:none;}
	.header-middle {display:none;}
	.home_banner .banners {width:179px;}
	.home_banner .banners .main_title {font-size:15px;}
	#brand .customNavigation a.next {right:0px;}
	#brand .customNavigation a.prev {left:0px;}
	.home_cmsblock_bottom { width:100%;float:left;}
	.site-footer .widget-title, .site-footer .widget-title a, .site-footer .wp-caption-text {border-bottom:none; padding:0; width:100%}

	.follow-me a {display:inline-block; float:none;}
	.home-topbanner li {width:24%; margin-right:9px;}
	.home-page-banner img {height: 68px;max-width: 100%;} 
	.cms_banner1,.cms_banner2,.cms_banner3,
	.footer-banners #banner1,.footer-banners #banner2,.footer-banners #banner3
	{ width:32%;}
	.home-subbanners li {width:32%;}
	.home-subbanners li img {max-width:100%;}
	.home_cmsblock_bottom img ,
	.footer-banners img	
	{ width:100%;}
	.footer-newsletter {width:73%;}
	.footer-newsletter .title {font-size:17px;}
	.newsletter.newsletter-widget {margin:0 0 0 8px;}.newsletter-email {width:200px;}
	.footer-followus {width:24%;}.footer-followus h2 {display:none;}#branding {margin:0;}
	/*.yith_magnifier_zoom_magnifier { left:300px !important;}*/  
	.cms_banner2,.footer-banners #banner2	{ margin:0 14px;}	
	.footer-social-block { margin:10px 0 0;}
	.contact-page .contact-info {width:47%;}
	#woo-small-products .products .container-inner { margin:5px 0; }
	#woo-small-products .image-block img {
    	height: 70px;
    	width: 70px;
	}
	.woocommerce .star-rating, .woocommerce-page .star-rating { bottom:30%; }
	.testimonials-container .owl-theme .owl-controls .owl-buttons div.owl-prev { right: 55%; }
	
	.woocommerce.list-view .woocommerce-result-count, .woocommerce-page.list-view .woocommerce-result-count { width:45%; }
	.entry-meta > span { display: inline-block; float: none; margin: 0 0 5px; width: 100%;}
	.info-description { display:none; }
	.three_fourth .owl-theme .owl-controls .owl-buttons div.owl-prev { bottom: 23%; }
	.three_fourth .owl-theme .owl-controls .owl-buttons div.owl-next { bottom: 23%; left: -25.1%; }
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{float:left; display:inline-block; clear:none;}
	.woocommerce ul.products li.last .container-inner, .woocommerce-page ul.products li.last .container-inner{ /*border-right: 1px solid #ededed;*/}
	.woocommerce.woocommerce-page .page-title {margin: 15px 0 15px;}
	
	.footer-bottom-left{width:66%;}
}
@media (max-width: 767px) {
	.topbar-banner ul li {float:none;width:100%;}
	.topbar-banner ul li.content3 .content-inner{ margin:0;}
	.ei-slider{height:220px;}
	.slider_area_inner, .main-content-inner, .panel-row-style-inner-container, .home .main-content.left-sidebar, .top_main, .footer-bottom-container, .site-top {width:auto; /*margin:0 15px;*/}
	.footer-block-inner, .page_inner{width:auto; margin:0 15px;}
	.header-main{width:auto; display:block;clear:both;margin:0 15px;}
	.header_right  { margin:25px auto;}
	.header-main-inner{padding:0 0px 45px;   display: block;margin: 0;}
	.topbar-outer-inner, .topbar-main #navbar{width:auto; margin:0 15px; display:block;}
	#footer-widget-area{width:auto; margin:0 15px;}
	.footer-bottom{width:auto; margin:0 15px;}
	.header_middle {display:none}	
	.header-menu-links ,.header_login{margin: 10px 0;}
	.footer-block .follow-us {padding:25px 0	;text-align: center;width: 100%; float:none;}
	.footer-block .newsletter.newsletter-widget p {float:none; display:inline;}
	.footer-block .newsletter.newsletter-widget {text-align:center;}
	.menu-category {width:100%;}
	#shop-grid.products li {
		width: 32%; text-align: center;
	}
	.home-slider-container{
		margin: 0 15px;
    	width: auto;
	}
	.home-slider-container-inner{width:100%;}
	.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {width:100%;}	
	.header-search {
		display: inline-block;
		float: none;
		text-align:center;
		width:100%;
		margin:0 auto;
		position:absolute;
		right:0;
		bottom:60px;
	}
	.header_cart,.header-contactus {
		display: inline-block;
		text-align: center;
		width: auto;
		margin:0 0 10px;
		float:none;
		vertical-align:middle;
	}
	.header-search input[type="text"]{width:150px;}
	
	.header-search > form {margin: 0 auto;width: 285px;}
	.header-search input[type="text"], .header-search .search-field{ width: 70%;}		
	/*.topbar-contact .content, .topbar-social .content {float:none;}*/
	.home-top-area {width:auto;}
	.tm_cms_banner {text-align:center;}
	.tm_cms_banner .cms-image {float:none; padding:13px 0 0 5px;}
	.tm_cms_banner_inner {float:none; padding:13px 0 13px 10px;}
	.banner {margin:8px 2px !important; text-align:center; }
	.banner .hover_glass { background-position:462px 0;}
	.footer-block h3 {float:left; width:100%; text-align:center;}
	.follow-us h2 {width:100%; margin:0; }
	.menu-category {margin:-56px -1px 0;}
	.category-toggle {border-radius:5px; }
	.content_inner{ width:100% !important; padding:0 !important; border:none !important;   margin: 15px 0 !important;}
	#top-area {width:100%; margin-bottom:10px;}
	.primary-sidebar .widget.widgets-leftbanner {display:none;}
	.top_main {width:auto; margin:0 0 8px;}
	.site-content .has-post-thumbnail .entry-header { margin-top:10px; }
	.site-top { display: none; }
	.shop_default_width {width:265px;}
	#shop-grid li { display:inline-block;}
	.footer-main	{ padding:30px 0 20px 0;}
	.home-topbanner	{ width:100%;}
	.tm-homeslider	{ margin:0 0 10px 0;}
	.home-aboutus {width:100%;background:none;}
	.home-advertise {display:none;}
	.tm-about-description {width:100%;}
	.homepage-banners {display:none;}
	.tm-homeslider{ width:100%;}
	.home-topbanner li {width:24%; margin:0 5px 8px 0;}
	.home-topbanner img {width:100%;}
	.home-page-banner img {height:68px;width:100%;}
	.home_banner .banners { width:111px;}
	.home_banner .image {display:none;}
	.home_banner .banner_content {padding:0;}
	.home_banner .banners .main_title{font-size:12px;}
	#brand .customNavigation a.next {right:0px;}
	#brand .customNavigation a.prev {left:0px;}
	.home-subbanners li {width:32%; margin-left:2%;}
	.home-subbanners li img {width:100%;}
	.footer-newsletter {width:100%; text-align:center;}
	.footer-followus {width:100%; text-align:center; margin:10px 0 0;}
	#branding {margin:0; width:100%;}
	.footer-followus h2 {float:none;}
	.newsletter.newsletter-widget p, .newsletter-submit {float:none;}
	.newsletter-email {margin-bottom:15px; float:none;}
	.newsletter.newsletter-widget {width:100%;}
	.newsletter.newsletter-widget {margin:10px 0 0 0px;}
	.footer-newsletter .title {float:none; margin:0;}
	#latestworks .product-block img {width:100%;}
	/*=== Header === */
	.header-main .search-form, .header-main #searchform {width:100%;}	
/*	.header_cart {width:100%; margin-bottom:10px;}*/
	.header_cart .top-arrow { }
	.header_cart .togg {text-align:center;}
	.header_cart .togg #shopping_cart{display:inline-block; text-align:center;}
	.header_cart .togg #shopping_cart:hover {}
	.header_cart .togg .widget.jigoshop_cart, .header_cart .togg .widget.widget_shopping_cart { right:0; top:58px; }
	.home-topbanner .top_banner {
		float: left;
		width: 48%;
		text-align: center;
	}		
	.tm_banner_inner{margin:0;}
	.home_banner_3 .one_third_inner, .home_banner_2 .one_third_inner{margin:15px 0 !important;}
	/********************Footer*******************/
	
	.newsletter tr{float:left; display:inline-block;}
	.newsletter .newsletter-submit{/*width:100%;*/ width:auto;}
	.newsletter input{width:auto; display:inline-block;}
	.footer-banners .banner{ width: 30%; margin: 0;}
	.home-topbanner #banner2{  margin-top: 0; }
	.footer-banners #banner2	{ margin:0 5%;}
	.header-top	{ width:100%; margin:37px 0 0;}
	.site-footer .widget-title, .site-footer .widget-title a, .site-footer .wp-caption-text {border-bottom:none; padding:0;}
	.footer-bottom-left{width:100%;}
	.footer-bottom-right{width:100%;}
	.footer-payment-block, .footer-menu-links, .site-info, .footer-social-block {width:100%; text-align:center;}
	.footer-social-block { margin:10px 0 0;}
	.follow-me a {display:inline-block; float:none;}
	.header-middle	{ display:none;}
	.header-middle-top	{ display:none;}
	.header_cart .shoppingcart	{ right:25%;}	
	.site-header .home-link	{ text-align:center; float:none;}
	.header-top .widget_search	{ width:100%; margin:0 auto;}
	.site-header .search-form	{ display: inline-block;
    margin: 0 auto;
    position: static;
    text-align: center;
    width: 100%;}
	.footer_banner .left_banner, .footer_banner .right_banner { width:100%; background:none;}
	.left_image, .right_image, .left_main_title, .left_sub_title, .right_sub_title, .right_main_title {width:100%; text-align:center;}
	.header-top .widgets-FooterContactUsservices	{ width:100%; text-align:center; margin:0 auto;}
	.header_contactus	{ display:none;}
	.header-bottom{ clear:both;}
	.cms_banner1,.cms_banner2,.cms_banner3{ width:32%;}
	.home_cmsblock_bottom img,
	.footer-banners img	{ max-width:100%;}
	.cms_banner2, .footer-banners .subbanner2{ margin:0 8px;}	
	.slider_right	{ width:100%; margin:15px 0 0 0;}
	.slider_right .subbanner1,.slider_right .subbanner2,.slider_right .subbanner3
	{ float:left; width:32%;}
	table.shop_table td .button {margin-bottom:5px;}
	.slider_right img { max-width:100%;}
	.slider_right .subbanner2	{ margin:0 7px;}
	.home-blog	{ width:99%; margin:3px 0 10px 0;}
	.home-services	{ width:99%; clear:both;}
	.home-special-products	{ width:100%;}
	.default_product_display	{ width:188px;}
	#tertiary .search-form .search-submit	{ top:0;}
	.cms-container.center { display:none; }
	/*======= Product Info ======= */
	.resp-tabs-list .resp-tab-item{/* width: 100%; padding:12px 14px; */ display:block; float:none;   border-bottom: 2px solid transparent;}
	.resp-tabs-list{height:auto;}
	/******Product Page*******/
	.woocommerce ul.products.grid li.product, .woocommerce-page ul.products.grid li.product, #woo_grid .woocommerce ul.products li.product,
	.woocommerce .cart-collaterals .cross-sells ul.products li.product, .woocommerce-page .cart-collaterals .cross-sells ul.products li.product
	{ width:49% !important; clear:none;}
	/*.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{float:none; display:inline-block;}*/
	.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, 
	.woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary{width:100%;}
	.woocommerce #content div.product div.images, .woocommerce div.product div.images, 
	.woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images{width:380px;text-align:center; margin:0 auto; float:none;}
	.woocommerce #content div.product div.images img, .woocommerce div.product div.images img, 
	.woocommerce-page #content div.product div.images img, .woocommerce-page div.product div.images img{max-width:98%; margin:0 auto; }	
	.woocommerce #content div.product div.thumbnails, .woocommerce div.product div.thumbnails, 
	.woocommerce-page #content div.product div.thumbnails, .woocommerce-page div.product div.thumbnails { margin: 0 auto;width: 360px;}
	div.product div.images { width:390px; margin:0 auto; float:none;}
	.woocommerce-page div.product div.summary, .woocommerce-page #content div.product div.summary {width:100% !important;  margin-top: 30px;}
	.imagecol,#thumblist
	{ width:98%; margin:0 auto; text-align:center;}
	#thumblist .single-thumb	{ float:none; display:inline-block;}
	#single_product_page_container .product_right	{ width:99%;}
	.cart_tabel	{ overflow:auto;}
	#fancy_notification	{ left:15px !important;}
	#feature_slider .customNavigation a.prev	{ right:-19px !important;}
	#feature_slider .customNavigation a.next	{ left:-15px !important;}
	#content #checkout_page_container .cart_quantity	{ margin-bottom:5px;}
	.wpsc_checkout_forms .wpsc_checkout_table td {   display: block; width: 90%; }
	ul.tabs a {padding:12px 5px; font-size:14px;}
	#contact-form,.contact-page .contact-info	{ width:100%; margin:0 auto 8px auto;}
	.grid .blog-list .entry-main-content .entry-content-other, .blog-list .entry-main-content .entry-content-other { float:left; }
	.grid .blog-list .entry-main-content .entry-content-other .entry-meta > span, .blog-list .entry-main-content .entry-content-other .entry-meta > span { display:inline; }
	/*==== Left and Right Column ===*/
	#tertiary .widget ul.main-ul { display:none;}
	.header-bottom .header_login, .header-bottom .contact-header-menu{ margin-top: 0;}
		.col2-set .col-1, .col2-set .col-2{ margin-left: 0; margin-right: 0; width: 100%;}
		.about_left, .about_right, .contact_left, .contact_right {width:100%;}
		.team .one_third {width: 100%;}
	.short-ex {transform: none; transition: none 0s ease 0s;}	
	.portfolios li:hover .short-ex {transform: none; transition: none 0s ease 0s;}
	.portfolios .mask { opacity:1; transform: none; transition: none 0s ease 0s; position:relative;} 
	.portfolios h5 {transform: none; transition: none 0s ease 0s; }
	.portfolios li:hover .mask {bottom:0;}	
	.portfolios li:hover h5 {transform: none; transition: none 0s ease 0s;}
	.three_fourth .owl-theme .owl-controls .owl-buttons div.owl-prev {
    	left: auto;
    	right: 42px;
    	top: -7%;
	}
	.three_fourth .owl-theme .owl-controls .owl-buttons div.owl-next {
    	left: auto;
    	right: 11px;
    	top: -7%;
	}
	.information {
		border: medium none;
		margin-bottom: 10px;
		margin-top: 0;
		padding: 0;
	}
	.info-description {
    	display: none;
	}
	.box-container .grid.two-col .grid-item, .box-container .grid.three-col .grid-item, .box-container .grid.four-col .grid-item, .box-container .masonry.two-col .item, 			    .box-container .masonry.three-col .item, .box-container .masonry.four-col .item {
    	/*margin: 0 1% 0 0 !important;*/
    	width: 46%; 
	}
	.entry-meta > span { display: inline-block; float: none; margin: 0 0 5px; width: 100%;}
	/*==== Gallery ===*/
	.gallery-columns-1 .gallery-item
	.gallery-columns-2 .gallery-item,
	.gallery-columns-3 .gallery-item{max-width:50%;}
	.blog-posts-content .post-content-inner { min-height:150px; }
	.testimonials-container .owl-theme .owl-controls .owl-buttons div { top:-45px; }
	.testimonials-container .owl-theme .owl-controls .owl-buttons div.owl-prev { right: 32px; }
	.testimonials-container .owl-theme .owl-controls .owl-buttons div.owl-next { right: 0; }

 	.main-container .sub-container .inner-image { display:none; }
	.footer-bottom .fifth-widget { width:100%; text-align:center; margin:10px 0; }
	.gridlist-toggle {/* width:15% !important;*/ display:none; }

	.slider_area_inner_container { top:22%; }
	.home-slider .slider-title { font-size:20px; line-height:26px; }
	.home-slider .slider-description { font-size:15px; line-height:20px; }
	.home-slider .slider-button-container a.button { padding:4px 10px; font-size:13px; }	
	.button_content_inner { margin:2px 5px; }
	.woocommerce #content table.cart input, .woocommerce table.cart input, .woocommerce-page #content table.cart input, .woocommerce-page table.cart input { margin:2px 0 0 0; }
	.grid .full-width .entry-main-content .entry-video, .full-width .entry-main-content .entry-video { width:100%; }
	.grid .blog-list .entry-main-content .entry-video, .blog-list .entry-main-content .entry-video { width:100%; }
		.woocommerce ul.products li.last .container-inner, .woocommerce-page ul.products li.last .container-inner{/* border-right: 1px solid #ededed;*/}
	#woo-products .products li.last .container-inner{/*border-right: 1px solid #ededed;*/}
	.owl-theme .owl-controls .owl-buttons div{ top: -27px;}
	.one_third.about_feature, .one_third.about_feature.middle, .one_third.bottom1, .one_third.bottom2{width:100%; border-bottom:1px solid #eee; border-left:none;}
	.portfolio-filter-container .item{width:49%;}
	.yith_magnifier_zoom_magnifier{left:0 !important; right:0 !important; display:inline-block;}
	.ei-slider-thumbs .text1, .ei-slider-thumbs .text2 { font-size: 10px;}
	.woocommerce ul.products.list li.product a img, .woocommerce-page ul.products.list li.product a img{width:30.75% !important;}
	.tm_banner{float:none;}
	.woocommerce .related.products ul.products li.product, .woocommerce-page .related.products ul.products li.product {  width: 49%;}
	.woocommerce ul li .addto-cart-hover{position:static; margin-top: 10px;}
	.woocommerce ul li .addto-cart-hover{opacity:1;}
	.woocommerce ul.products li.product .onsale, .woocommerce-page ul.products li.product .onsale{opacity:1; display:block;}
	.resp-tabs-container {margin: 30px 0 0;}
	
	/********Banner*******/
	
	.tm_sub_banner.sub_1 , .tm_sub_banner.sub_2 {   width: 100%;}
	
	.tm_banner.column1.sub_1_second {
		float: right;
		width: 48%;
	}
	
	.tm_banner.column1.sub_2_first {
		float: left;
		width: 58%;
		margin:0;
	}
		
	.tm_banner.column1.sub_2_second {
		float: right;
		width: 39%;
		margin:0;
	}
	.tm_banner.column1.sub_1_first {width: 48%; float:left;}
	
}
/*@media only screen and (min-width: 480px) and (max-width: 767px) {
	.header_cart .togg .widget.jigoshop_cart, .header_cart .togg .widget.widget_shopping_cart { right: -50px;}
	.cms-texts{min-height:65px;}
	.ei-slider-thumbs li:hover img {bottom: 100px;}
	.woocommerce.list-view .woocommerce-result-count, .woocommerce-page.list-view .woocommerce-result-count { text-align: left; width: 50%;}
}*/
@media only screen and (max-width: 600px) {		
	.footer-block .newsletter .newsletter-email{width:auto;}
	
	/*********************** Gallery *****************************/
	.gallery-columns-1 .gallery-item
	.gallery-columns-2 .gallery-item,
	.gallery-columns-3 .gallery-item,
	.gallery-columns-4 .gallery-item,
	.gallery-columns-5 .gallery-item,
	.gallery-columns-6 .gallery-item,
	.gallery-columns-7 .gallery-item,
	.gallery-columns-8 .gallery-item,
	.gallery-columns-9 .gallery-item{max-width:100%;}
	.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,
	.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2{width:100%;}

	.woocommerce ul.products.grid li .product-block, .woocommerce-page ul.products.grid li .product-block, #woo_grid .woocommerce ul.products li .product-block{margin:0;}		
	.woocommerce table.shop_table, .woocommerce-page table.shop_table {
		display: inline;
		float: left;
		overflow: auto;
		width: 100%;
	}
	.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals{width:100%;}
	.topbar-banner ul li {float:none;width:100%;}
	.topbar-banner ul li.content3 .content-inner{ margin:0;}
}
@media only screen and (max-width: 479px) {
	.ei-slider-thumbs{display:none !important;}
	.ei-slider{height:auto;}
	.ei-slider .ei-slider-large li img{margin-left: 0 !important;width: 100% !important;}
	#shop-grid.products li { width: 49%; }
	.ei-slider-large{height:227px;}
	.ei-slider-large li{height:auto;}
	.main_background_image{margin-top:20px;}
	
	.product-categories .expandable-hitarea:before, .product-categories .collapsable-hitarea:after{
			height: 30px;
			right: 4px;
    		text-align: center;
    		top: 8px;
    		width: 35px;
	}
	
	
	/************************ Header ****************************/
	
	.header_cart, .header-contactus{padding:0;}
	.header-menu-links, .header_login{float:none; width:100%; text-align:center;}
	.header-contactus{width:100%; float:none;}
	.topbar-contact .content, .topbar-social .content{float:none; text-align:center; display:inline-block;}
	.follow-us a {display:inline-block; margin:5px 7px 0 0; }
	.header-search input[type="submit"]{ 
		background: url("images/megnor/respo-search.png") no-repeat scroll center center #35c49b;
		font-size: 0;
		padding: 8px 20px;
		text-indent: -9999px;
	}
	.header-search input[type="submit"]:hover{	background: url("images/megnor/respo-search.png") no-repeat scroll center center #35c49b;}
	.header-search > form {margin: 0 auto;width: 270px;}
	.header-search input[type="text"], .header-search .search-field{width: 85%;}
	.slider_area .slider_area_inner	{ overflow:hidden;}
	.options li {width:50%; margin:3px 0; text-align:center;}
	.options ul {width:100%; border:none;}
	.options li:last-child a, .options li a.selected, .options li:first-child a{border-radius:0;}
	.home-topbanner	{ margin:10px 0 0;clear:both; display:none;}
	.newsletter-submit { margin-top:15px;}
	.footer-block .newsletter.newsletter-widget {margin:8px 0 8px 0;} 
	.woocommerce .cart-collaterals .cross-sells ul.products li, .woocommerce-page .cart-collaterals .cross-sells ul.products li {width:50%;}
	.header-contactus{border:none;}

	.header_cart .togg .widget.jigoshop_cart, .header_cart .togg .widget.widget_shopping_cart {right: -90px;}
	.header_logout a.account{margin: 0 10px 0 0;padding:0;}
	.header_logout a.logout{margin:0;padding:0;}
	.header_login{margin:10px 0;}
	.header-menu-links {margin: 10px 0 0;}
	
	.tm_banner.column1.sub_1_first, .tm_banner.column1.sub_1_second, .tm_banner.column1.sub_2_first, .tm_banner.column1.sub_2_second{width:100%; float:none; margin:10px 0;}
	
	/************************ Product Grid* ***************************/
	.woocommerce ul.products.grid li.last .product-block, .woocommerce-page ul.products.grid li.last .product-block{border:none;}
	.page-title{border:none; text-align:center; margin:0;}
	.page-title .entry-title-main, .breadcrumbs, .woocommerce .woocommerce-breadcrumb, .woocommerce-page .woocommerce-breadcrumb{text-align:center; float:none;}
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{ width: 100% !important;}	
	.woocommerce ul.products li.product a img, .woocommerce-page ul.products li.product a img{width:100% !important;}
	.woocommerce ul.products.list .container-inner, .woocommerce-page ul.products.list .container-inner{text-align:center;}
	.products.list .star-rating{left:0;}
	.woocommerce .products.list .star-rating, .woocommerce-page .products.list .star-rating{float:none;}
	.woocommerce-page #content div.product div.thumbnails, .woocommerce-page div.product div.thumbnails { margin: 0 auto;width:100%;}
	.woocommerce div.product .woocommerce-tabs ul.tabs li{width:100%;}
	.woocommerce div.product .woocommerce-tabs ul.tabs li a{ width:100%; padding:10px 0; }
	#woo-products .products .container-inner, .products .container-inner{border:none;}
	.home-special-products .widget-title	{ font-size:12px;}
	.default_product_display,.home-featureproduct li{ width:100%;}
	ul.products.list li.product .gridlist-buttonwrap {margin-bottom:10px !important;}
	.header_cart .shoppingcart	{ right:0%; width:100%;}
	.home-topbanner .top_banner, .home-topbanner .top_banner, .home-topbanner .top_banner	{ width:47%;}
	.home-topbanner img	{ width:130px; height:auto;}
	.home-page-banner, .home-subbanners  {display:none;}
	.footer-newsletter .title {font-size:17px;}
	.newsletter-email {margin:0 0 10px 0;}
	.footer-followus h2 {display:none;}
	.homepage-banners {display:none;}
	.home-top-area  {margin-bottom:15px;}
	
	.header-login-logout {width:100%;}
	.text-box {
		float: none;
		margin: 5px auto;
		text-align: center;
		width: 100%;
	}
	.gridlist-toggle {display:none !important;}
	.header-middle-bottom {margin: 10px 0 20px;}
	.contact-header-menu li {float:none;}
	.tp-caption.shopnow {height:30px !important; width:100px !important;}
	.tp-caption a {height:28px !important; width:97px !important;}
	.tm-about-description {width: 98%;}
	.cart_main {background-image:none; position:absolute;top:140px; width:90%; z-index:99;}
	.cart_inner {background-image:none;width:100%;}
	ul.products.list li .image-block {/*width:100%;*/float:none;}
	ul.products.list li.product h3, ul.products.list li.product div[itemprop="description"], ul.products.list li.product .price, ul.products.list li.product .gridlist-buttonwrap
	{width:100% !important;}
	.cms_banner2, .footer-banners .subbanner2	{ margin:0 4px;}
	.wpsc_checkout_forms .wpsc_checkout_table td	{ display:block; width:90%;}
	textarea,.wpsc_checkout_table input.text	{ width:250px;}
	button, input, select, textarea	{ max-width:98%;}
	#checkout_page_container .total_price.total_shipping td:first-child, #checkout_page_container .total_price td:first-child	{ padding-left:0;}
	.div_logindisplay	{ overflow:auto;}
	#content #checkout_page_container table.checkout_cart tr.product_row td, #content #checkout_page_container table.checkout_cart tr.product_row	{ padding:15px;}
	.home_cmsblock_maintitle{ font-size:22px;}
	.footer-banners .banner{ width: 100%;}
	.footer-banners #banner1, .footer-banners #banner2, .footer-banners #banner3{ margin: 0 0 10px 0; float: none; text-align: center;}
	.entry-meta > span { display: inline-block; float: none; margin: 0 0 5px; width: 100%;}
	.header-bottom .header_login, .header-bottom .contact-header-menu  { float: right; text-align: left;}
	.cart-collaterals .cart_totals{ width: 100%;}
	td.actions .button-alt{ float: right !important;}
	ul.tabs li { margin-top:5px; width:100%;}
	ul.tabs li a {width:100%;}
	div.product div.images {width:100%;}
	.footer-main {}
	.typography-page .one_sixth{margin: 0;text-align: center;width: 100%}
  	.typography-page .one_sixth ul{ display: inline-block;float: none;}
  	.typography-page blockquote{margin:0;}
	.contact-header-menu {text-align:center;margin:5px 0 8px !important; width:100%;}
	.contact-header-menu li, .header_login .widget_user_login ul.pagenav li {padding:0 5px;}
	.header-top-main {height:60px; }
	.slider_area_inner_container { top:10%; }
	.home-slider .slider-title { font-size:15px; line-height:20px; }
	.home-slider .slider-description { font-size:12px; line-height:18px; }
	.home-slider .slider-button-container a.button { padding:2px 8px; font-size:10px; }	
	.button_content_inner { margin:2px 5px; }
	.post-image img { width:100%; }
	.blog-posts-content .post-content-inner { min-height:110px; }
	.box-container .grid.two-col .grid-item, .box-container .grid.three-col .grid-item, .box-container .grid.four-col .grid-item, .box-container .masonry.two-col .item, 	.box-container .masonry.three-col .item, .box-container .masonry.four-col .item { width:95%; margin:0 2%; }
	.cols-3 .container { width:auto; }
	.alignnone, .none { float:left; }
	.alignright, .right { float:left; }
	.three_fourth .owl-theme .owl-controls .owl-buttons div.owl-prev { top:-8%; }
	.three_fourth .owl-theme .owl-controls .owl-buttons div.owl-next { top:-8%; }
	.read-more { text-align:left; }
	/******Portfolio*******/	
	.options li{width:50%;float:left;}
	.options li a{ }		
	.portfolio_2column li, .portfolio_two li,
	.portfolio_4column li, .portfolio_four,
	.portfolio_3column li, .portfolio_three{width:100%;margin:0;}
	.portfolios li .main img, .portfolio_wrapper li .main img, .portfolio_wrapper div.main img { width:100%; }
	.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals, .woocommerce .cart-collaterals .shipping_calculator,.woocommerce-page
 .cart-collaterals .shipping_calculator { width:100%; }
	.grid .blog-list .entry-main-content .entry-content-other .entry-meta > span, .blog-list .entry-main-content .entry-content-other .entry-meta > span { display:inline-block; }
	.grid .blog-list .entry-main-content .entry-thumbnail, .blog-list .entry-main-content .entry-thumbnail { float:left; } 
	.newslettercontainer .simple-type.small-title{text-transform:capitalize; text-align:left; font-size:20px;}
	
	.links > li {
    text-align: center;
    }

	.woocommerce ul.products.grid li .product-block, .woocommerce-page ul.products.grid li .product-block, #woo_grid .woocommerce ul.products li .product-block, .woocommerce ul.products li .product-block{border:none;}
	.woocommerce ul.products.list li.product .addto-cart-hover{display:block; width:100%; left:0;}
	.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images{width:100%;}
	.woocommerce ul.products.grid li.product, .woocommerce-page ul.products.grid li.product, #woo_grid .woocommerce ul.products li.product,
	.woocommerce .cart-collaterals .cross-sells ul.products li.product, .woocommerce-page .cart-collaterals .cross-sells ul.products li.product
	{ width:98% !important;}
	.home-page #woo_grid .woocommerce ul.products li.last .product-block{border:none;}	
	.woocommerce ul.products.list li.product a img, .woocommerce-page ul.products.list li.product a img{width:100% !important;}
	.footer-block .newsletter .newsletter-email { width: 120px;}
	.woocommerce ul.products.owl-carousel li .product-block{border:none;}
	.vertical_tab ul.tabs{width:100%;}
	.vertical_tab .tab_groupcontent,.horizontal_tab .tab_groupcontent{width:auto;}
	.header-menu-links li{float:none;display:inline-block;}
	.woocommerce.list-view .woocommerce-result-count, .woocommerce-page.list-view .woocommerce-result-count {text-align: center; width: 100%;}
	.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering { display: inline-block; float: none;}
	.category-toolbar{text-align:center;}	
	.woocommerce #content table.cart input, .woocommerce table.cart input, .woocommerce-page #content table.cart input, .woocommerce-page table.cart input {
		margin: 3px 0 0;
		float: left;
		clear: both;
	}	
	.woocommerce .wc-proceed-to-checkout .checkout-button, .woocommerce-page .wc-proceed-to-checkout .checkout-button{text-transform:capitalize;padding:5px 12px;}
	.woocommerce ul.products li.product .price > .amount, .woocommerce-page ul.products li.product .price > .amount {
		display: inline-block;
		float: none;
		margin: 0 10px;
	}
	/***********Footer*****************/
	.newsletter.newsletter-subscription.main-ul{width:250px;}
	.newsletter table{width:100%;}
	 .newsletter td{width:100%; display:inline-block; text-align:center;}
	.newsletter tr{float:none; width:100%;}
	
	.footer-block .newsletter .newsletter-email , .newsletter .newsletter-submit{ margin: 0; width: 100%; }
	.topbar-banner ul li {float:none;width:100%;}
	.topbar-banner ul li.content3 .content-inner{ margin:0;}
}
@media only screen and (max-width: 350px){
	#shop-grid.products li { width: 100%; }
	.newsletter input{width:65px;}
	.grid .blog-list .entry-main-content .entry-thumbnail, .blog-list .entry-main-content .entry-thumbnail { float:none; } 
	.topbar-banner ul li {float:none;width:100%;}
	.topbar-banner ul li.content3 .content-inner{ margin:0;}
}
@media only screen and (max-width: 319px){	
	.home .sidebar-category.treeview-list.treeview{width:210px;}	
			
	.slider_area_inner, .main-content-inner, .panel-row-style-inner-container, .home .main-content.left-sidebar, .top_main, .footer-bottom-container, .site-top{padding:5px;}
	.site-header .home-link img	{ max-width:100%;}
	#woo-products .products .container-inner, .products .container-inner{border:none; margin:0;}
	.woocommerce ul.products.grid li .product-block, .woocommerce-page ul.products.grid li .product-block, #woo_grid .woocommerce ul.products li .product-block{margin:0; border:none;}
	.home-blog, .home-services, .widget_pndl_featuredproductwidget, .widget_wpsc_product_specials
	{ padding:10px !important}
	.header_cart .togg .widget.jigoshop_cart, .header_cart .togg .widget.widget_shopping_cart {width: 188px;}
	.title-line span	{ height:auto; line-height:20px;}
	.widget_wpsc_shopping_cart .shoppingcart	{ overflow:auto;}
	textarea, .wpsc_checkout_table input.text,select	{ width:auto !important}
	form.cart .button {margin:8px 0 !important;}
	#tm-control-panel { display:none;}
	.flex-direction-nav { display:none; }
	.slider_area_inner_container { top:10%; }
	.home-slider .slider-title { font-size:10px; line-height:16px; margin:5px 0; }
	.home-slider .slider-description { font-size:8px; line-height:12px; margin:0; }
	.home-slider .slider-button-container { padding-top:5px; }
	.home-slider .slider-button-container a.button { padding:0 3px; font-size:6px; border:1px solid #FFFFFF; }	
	.button_content_inner { margin:2px 5px; }
	caption, th, td { text-align:center; }
	.woocommerce #content table.cart a.remove, .woocommerce table.cart a.remove, .woocommerce-page #content table.cart a.remove, .woocommerce-page table.cart a.remove{ margin:0 auto; }
	/*=== Header ===*/
	.header_login a { float:none; }
	.header_logout a.account, .header_logout a.logout { border:none; padding-right:0; }
	.contact-header-menu li, .header_login .widget_user_login ul.pagenav li {padding:0 7px;}
	.header_cart .top-arrow { display:none; }
	.gridlist-toggle {margin-bottom:10px !important;}
	.cms_banner1, .cms_banner2, .cms_banner3, .footer-banners .subbanner1, .footer-banners .subbanner2, .footer-banners .subbanner3
	{ width:100%; margin:0 0 5px 0;}
	
	.tm_banner.column1.sub_1_first, .tm_banner.column1.sub_1_second, .tm_banner.column1.sub_2_first, .tm_banner.column1.sub_2_second{width:100%; margin-bottom:25px;}
	
	.footer-banners .subbanner2	{ border-bottom:3px solid #E1E1E1;border-top:3px solid #E1E1E1; padding:5px 0; margin:0 0 12px 0;}
	.home-topbanner .top_banner, .home-topbanner .top_banner, .home-topbanner .top_banner	{ width:46%;}
	.home-topbanner img	{ width:100px; height:auto;}
	table{ display: block;}
	.header_cart .togg .tab_content, .header_login .togg .tab_content{ padding: 10px !important;
    width: 190px;}
	.jigoshop_login_widget label, 
	.jigoshop_login_widget .input-text,
	.header_cart .cart_list li a,
	.header_cart .widget ul span.js_widget_product_price, .header_cart .widget ul span.quantity{ width: 100%; float: none;}
	.home-page-banner {display:none;}
	.attachment-shop_thumbnail {width:100%;}
	.yith_magnifier_gallery li { margin: 0 8px !important; }
	.related_default_width {width:120px;}
	.tp-caption a {width:60px !important;}
	.tp-caption.shopnow {width:63px !important;}
	.porduct_thumbs, .thumbnails { margin:10px 4px 0;}
	.single-product.woocommerce .thumbnails #slider-prev { left:-5px !important;}
	.single-product.woocommerce .thumbnails #slider-next {right:-1px !important;}	
	.one_third {width: 100%;}
	.team img {width:155px; height:155px;}
	.contact-header-menu {text-align:center;margin:5px 0 8px !important; width:100%;}
	.contact-header-menu li, .header_login .widget_user_login ul.pagenav li {padding:0 5px;}
	.header-top-main {height:60px;}
	.blog-posts-content .post-content-inner { min-height:150px; }
	.three_fourth .owl-theme .owl-controls .owl-buttons div.owl-prev { top: -10%; }
	.three_fourth .owl-theme .owl-controls .owl-buttons div.owl-next { top: -10%; } 
	blockquote.blockquote{font-size:15px;}
		.portfolio-filter-container .item{width:100%;}
	.product-block{margin:0;}
		
	.header-search input[type="text"], .header-search .search-field{width:80%;}
	.header-search > form {width: 200px;}
	.upsells.products > h2, .related.products h2{text-transform:capitalize;}
	
	.newsletter.newsletter-subscription.main-ul{width:100%;}
	.topbar-banner ul li {float:none;width:100%;}
	.topbar-banner ul li.content3 .content-inner{ margin:0;}
}
@media only screen and (max-width:240px) {
	.single-testimonial .testmonial-image{padding-right:10px;}
	.topbar-banner ul li {float:none;width:100%;}
	.topbar-banner ul li.content3 .content-inner{ margin:0;}
}
